# Example OVH deployment env (fictive values)
APP_NAME=medvision-ai
IMAGE_TAG=latest

SSH_USER=ubuntu
SSH_HOST=51.210.123.45
SSH_PORT=22

GIT_REPO=git@github.com:doctum-consilium/medvision-ai.git
GIT_BRANCH=main
APP_DIR=/opt/medvision-ai

PROVISION_CADDY=true
API_DOMAIN=api.medvision-demo.fr
APP_DOMAIN=app.medvision-demo.fr
CADDY_EMAIL=ops@medvision-demo.fr
