APP_NAME=medvision-ai
IMAGE_TAG=latest

AZ_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
AZ_RESOURCE_GROUP=rg-medvision
AZ_LOCATION=westeurope
AZ_ACR_NAME=medvisionacr
AZ_CONTAINERAPPS_ENV=medvision-env
